@font-face {
    font-family: "8bitfont";
    src: url("./Font/8bitoperator.ttf") format("truetype");
}

body {
    font-family: "8bitfont", sans-serif;
    color: white;
    margin: auto;
    max-width: 38rem;
    padding: 1em;
}

#pageIndex {
    background-color: black;
}

#indexBody {
    border-width: 5px;
    border-color: white;
    border-style: solid;
    margin-block-start: 40px;
    height: calc(100vh - 120px);
}

#btnContainer {
    text-align: center;
}

#status #location {
    color: white;
    padding: 1em;
}

#btnContainer {
    display: flex;
}

#imgFolderInstall {
    width: 20px;
    height: 20px;
    margin-left: -15px;
    margin-right: 10px;
    content: url("./Image/8bit-folder.png")
}

#imgPatch {
    width: 20px;
    height: 20px;
    margin-right: 55px;
    content: url("./Image/8bit-tools.png")
}

#selectOrigFile:hover > div > img {
    content: url("./Image/8bit-heart.png");
}

#patch:hover > div > img {
    content: url("./Image/8bit-heart.png");
}

#selectOrigFile {
    padding: 0.5em 0em 0.5em 1.5em;
}

.title {
    color: white;
    text-align-last: center;
    margin: 0 0 1em 0;
}

.btn {
    font-family: "8bitfont", sans-serif;
    background: black;
    color: darkorange;
    border-color: darkorange;
    padding: 0.5em;
    font-size: 14px;
    letter-spacing: -1px;
    margin: 0 2.2em;
    width: 230px;
}

.btn:hover {
    color: yellow;
    border-color: yellow;
}

.btnContent {
    display: flex;
}

.hidden {
  display: none;
}